phan_loai_mau_arm_fanuc_lr/bin/Debug/phan_loai_mau_arm_fanuc_lr.exe
phan_loai_mau_arm_fanuc_lr/bin/Debug/phan_loai_mau_arm_fanuc_lr.pdb
phan_loai_mau_arm_fanuc_lr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
phan_loai_mau_arm_fanuc_lr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.csproj.AssemblyReference.cache
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.csproj.CoreCompileInputs.cache
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.csproj.FileListAbsolute.txt
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.csproj.GenerateResource.cache
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.exe
phan_loai_mau_arm_fanuc_lr/obj/Debug/phan_loai_mau_arm_fanuc_lr.pdb
